@import "../../../assets/css/config.scss";

.masterLayout-sidebarMenu
{
    -webkit-transition: width $animation-speed-fast linear !important;
    transition: width $animation-speed-fast linear !important;
}

.masterLayout-children
{
    -webkit-transition: all $animation-speed-fast linear !important;
    transition: all $animation-speed-fast linear !important;
}

.masterLayout-body-container
{
    padding: 0px;
}

@media (max-width: $breakpoint-sm)
{
    .masterLayout-body-container
    {
        padding: 0 0 130px 0 !important;
    }
}
.masterLayout-bottom-menu-container
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.masterLayout-middle-col-light-theme
{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.cA-DTIM svg
{
    color: unset !important;
    fill: unset !important;
} 

