@import "../../../assets/css/config.scss";


.sidebarMenu-item-inactive
{
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-transition: background-color $animation-speed-slow ease-in-out;
    transition: background-color $animation-speed-slow ease-in-out;
    -webkit-transition: opacity $animation-speed-slow ease-in-out;
    transition: opacity $animation-speed-slow ease-in-out;
}

.ltr-sidebarMenu-item-active div .text-center
{
    -webkit-transition: background-color $animation-speed-slow ease-in-out;
    transition: background-color $animation-speed-slow ease-in-out;

    border-left-width: 3px;
    border-left-style: solid !important;

    -webkit-border-top-right-radius: $size-rounded-corner-xs;
	-khtml-border-radius-topright: $size-rounded-corner-xs;
	-moz-border-radius-topright: $size-rounded-corner-xs;
	border-top-right-radius: $size-rounded-corner-xs;

    -webkit-border-bottom-right-radius: $size-rounded-corner-xs;
	-khtml-border-radius-bottomright: $size-rounded-corner-xs;
	-moz-border-radius-bottomright: $size-rounded-corner-xs;
	border-bottom-right-radius: $size-rounded-corner-xs;
}

.rtl-sidebarMenu-item-active div .text-center
{
    -webkit-transition: background-color $animation-speed-slow ease-in-out;
    transition: background-color $animation-speed-slow ease-in-out;

    border-right-width: 3px;
    border-right-style: solid !important;

    -webkit-border-top-left-radius: $size-rounded-corner-xs;
	-khtml-border-radius-topleft: $size-rounded-corner-xs;
	-moz-border-radius-topleft: $size-rounded-corner-xs;
	border-top-left-radius: $size-rounded-corner-xs;

    -webkit-border-bottom-left-radius: $size-rounded-corner-xs;
	-khtml-border-radius-bottomleft: $size-rounded-corner-xs;
	-moz-border-radius-bottomleft: $size-rounded-corner-xs;
	border-bottom-left-radius: $size-rounded-corner-xs;
}

.ltr-sidebarMenu-item-active-collapse div .text-center
{
    -webkit-transition: background-color $animation-speed-slow ease-in-out;
    transition: background-color $animation-speed-slow ease-in-out;

    border-left-width: 3px;
    border-left-style: solid !important;

    -webkit-border-top-right-radius: 0px !important;
    -khtml-border-radius-topright: 0px !important;
    -moz-border-radius-topright: 0px !important;
    border-top-right-radius: 0px !important;

    -webkit-border-bottom-right-radius: 0px !important;
    -khtml-border-radius-bottomright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.rtl-sidebarMenu-item-active-collapse div .text-center
{
    -webkit-transition: background-color $animation-speed-slow ease-in-out;
    transition: background-color $animation-speed-slow ease-in-out;

    border-right-width: 3px;
    border-right-style: solid !important;
    font-size: $size-text-md;

    -webkit-border-top-left-radius: 0px !important;
    -khtml-border-radius-topleft: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    border-top-left-radius: 0px !important;

    -webkit-border-bottom-left-radius: 0px !important;
    -khtml-border-radius-bottomleft: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-left-radius: 0px !important;
}

@media only screen and (max-width: 991px)
{
    .ltr-sidebarMenu-item-active div .text-center
    {
        -webkit-border-top-right-radius: 0px !important;
        -khtml-border-radius-topright: 0px !important;
        -moz-border-radius-topright: 0px !important;
        border-top-right-radius: 0px !important;

        -webkit-border-bottom-right-radius: 0px !important;
        -khtml-border-radius-bottomright: 0px !important;
        -moz-border-radius-bottomright: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .rtl-sidebarMenu-item-active div .text-center
    {
        -webkit-border-top-left-radius: 0px !important;
        -khtml-border-radius-topleft: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        border-top-left-radius: 0px !important;

        -webkit-border-bottom-left-radius: 0px !important;
        -khtml-border-radius-bottomleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-bottom-left-radius: 0px !important;
    }

    
}

.ltr-sidebarMenu-item-active div div i,
.rtl-sidebarMenu-item-active div div i
{
    border-top: none !important;
}
.ltr-sidebarMenu-item-active + div div i,
.rtl-sidebarMenu-item-active + div div i
{
    border-top: none !important;
}

.t-blackout-sidebarMenu-item-hover:hover, .t-blackout-sidebarMenu-item-hover:hover div i span,
.t-blackout-sidebarMenu-item-hover:hover div i span svg
{
    color: $color-blackout-alternative-highlight !important;
    -webkit-transition: all $animation-speed-fast ease-in-out;
    transition: all $animation-speed-fast ease-in-out;
}
.t-blackout-sidebarMenu-item-hover:hover div i span svg circle
{
    fill: $color-blackout-alternative-highlight !important;
    -webkit-transition: all $animation-speed-fast ease-in-out;
    transition: all $animation-speed-fast ease-in-out;
}

.t-dark-sidebarMenu-item-hover:hover, .t-dark-sidebarMenu-item-hover:hover div i span,
.t-dark-sidebarMenu-item-hover:hover div i span svg
{
    color: $color-dark-alternative-highlight !important;
    -webkit-transition: all $animation-speed-fast ease-in-out;
    transition: all $animation-speed-fast ease-in-out;
}
.t-dark-sidebarMenu-item-hover:hover div i span svg circle
{
    fill: $color-dark-alternative-highlight !important;
    -webkit-transition: all $animation-speed-fast ease-in-out;
    transition: all $animation-speed-fast ease-in-out;
}

.t-light-sidebarMenu-item-hover:hover, .t-light-sidebarMenu-item-hover:hover div i span,
.t-light-sidebarMenu-item-hover:hover div i span svg
{
    color: $color-light-primary !important;
    -webkit-transition: all $animation-speed-fast ease-in-out;
    transition: all $animation-speed-fast ease-in-out;
}
.t-light-sidebarMenu-item-hover:hover div i span svg color-light-primary
{
    fill: $color-light-primary !important;
    -webkit-transition: all $animation-speed-fast ease-in-out;
    transition: all $animation-speed-fast ease-in-out;
}


.sidebarMenu-item-inactive:not(:first-child) div div i
{
    border-top-width: 1px;
    border-top-style: solid;
}

.sidebarMenu-settings-icon
{
    border-radius: 50%;
    height: 44px;
    width: 45px;
    padding-top: 8px;
}