.affirmationModal-container {
  :global(.ant-modal-content .ant-modal-header .ant-modal-title) {

    font-weight: 500;
    padding-bottom: 22px;
    font-size: 19px;

  }

  :global(.ant-modal-content .ant-modal-footer .ant-btn) {
    box-shadow: 0 0px 0 rgba(3, 17, 45, 0.29);

  }

  :global(.ant-modal-content .ant-modal-footer .ant-btn > span) {
    padding-left: 10px;
    padding-right: 10px;
  }

  :global(.ant-modal-content .ant-modal-footer .ant-btn-primary) 
  {
    @apply bg-[#BF2A52]  
  }

  :global(.ant-modal-body)
  {
    @apply mb-20;
  }

  :global(.ant-btn-default )
  {
    @apply border-[#3D488C] text-[#3D488C] bg-none; 
  }
}