/* FONE SIZE */
$size-text-xs: 10px;
$size-text-sm: 12px;
$size-text-md: 14px;
$size-text-lg: 24px;
$size-text-xl: 36px;
$size-section-titles: 19px;

/* THEME-LIGHT */
$color-light-primary: #000000;
$color-light-primary-highlight: #000000;
$color-light-primary-with-alpha: #000000;
$color-light-secondary: #000000;
$color-light-secondary-highlight: #000000;
$color-light-alternative: #000000;
$color-light-alternative-highlight: #000000;
$color-light-accent: #000000;
$color-light-accent-highlight: #000000;
$color-light-element: #000000;
$color-light-exception:#000000;

/* THEME-DARK */
$color-dark-primary: #000000;
$color-dark-primary-highlight: #000000;
$color-dark-primary-with-alpha: #000000;
$color-dark-secondary: #000000;
$color-dark-secondary-highlight: #000000;
$color-dark-alternative: #000000;
$color-dark-alternative-highlight: #000000;
$color-dark-accent: #000000;
$color-dark-accent-highlight: #000000;
$color-dark-element: #000000;

/* THEME-BLACKOUT */
$color-blackout-primary: #131f35;
$color-blackout-primary-highlight: #c8d9f8;
$color-blackout-primary-with-alpha: #1e2f4e;
$color-blackout-secondary: #1e2f4e;
$color-blackout-secondary-highlight: #ffffff;
$color-blackout-tertiary:#000000;
$color-blackout-tertiary-highlight:#000000;
$color-blackout-alternative: #000000;
$color-blackout-alternative-highlight: #000000;
$color-blackout-accent: #000000;
$color-blackout-accent-highlight: #000000;
$color-blackout-element: #000000;
$color-blackout-quaternary:#000000;
$color-blackout-quaternary-highlight:#000000;
$color-blackout-rose:#000000;
$color-blackout-secondary-light: #000000;
$color-blackout-darkblack :#000000;

/* EXTRA COLORS */
$color-accent: #e66948;
$color-rose: #ff375e;
$color-sky: #1bced8;
$color-purple: #a54ee1;
$color-sun: #fff039;
$color-light-green: #00c48c;
$color-alternative: #748aa1;
$color-disabled: #55433c;
$color-sand: #5c5400;
$color-success: #05c46b;
$color-warning: #ffd400;
$color-danger: #dc3545;
$color-button-text: #ffffff;

/* RANKING COLORS */
$color-rank-one: #ffd801;
$color-rank-two: #cbcccc;
$color-rank-three: #bd7b65;

/* ROUNDED CORNER */
$size-rounded-corner-xs: 5px;
$size-rounded-corner-sm: 8px;
$size-rounded-corner-md: 15px;
$size-rounded-corner-lg: 25px;
$size-rounded-circle: 50%;

/* BREAK POINTS */
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1999px;

/* ANIMATION SPEED */
$animation-speed-slow: 400ms;
$animation-speed-fast: 200ms;
